# this file runs ~/Looper/Main/Looper.py as a service at boot time
#
# automate later:
# sudo update-rc.d looper defaults
# sudo systemctl daemon-reload
# sudo systemctl enable ~/Looper/Main/looper.service
#
# Usage:
# sudo systemctl start | status | stop | restart looper
# OR
# sudo service looper start | status | stop | restart

[Unit]
Description=My Sample Service
After=local-fs.target basic.target

[Service]
Type=idle
User=pi
ExecStart=/usr/bin/python /home/pi/Looper/Main/Looper.py

[Install]
WantedBy=basic.target
