# this file runs ~/MidiController/Main/midi_controller.py as a service at boot time
#
# automate later:
# sudo update-rc.d midi_controller defaults
# sudo systemctl daemon-reload
# sudo systemctl enable ~/MidiController/Main/midi_controller.service
#
# Usage:
# sudo systemctl start | status | stop | restart midi_controller
# OR
# sudo service midi_controller start | status | stop | restart

[Unit]
Description=Midi Controller Service
After=local-fs.target basic.target

[Service]
Type=idle
User=root
ExecStart=/usr/bin/nohup /usr/bin/python /home/pi/MidiController/Main/midi_controller.py 2>&1 &

[Install]
WantedBy=basic.target
